* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    height: 100vh;

}

/*menu*/
nav {
    height: 50px;
    padding: 10px;
    width: 100%;
    /* border-bottom: 1px solid #999; */
    background-color: #fff;
}

span {
    color: #999;
    font-size: 1.5em;
    cursor: pointer;
    position: fixed;
}

.active {
    display: block;
}

menu {
    float: right;
    display: none;
    position: fixed;
    right: 20px;
    background-color: #fff;
}

menu ul li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
    margin-left: 20px;
    color: #2222;
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    font-size: 1.3em;
}

a {
    text-decoration: none;
    color: #222;
}


a:hover {
    color: #a70f50;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.4em;
}

menu::after {
    clear: both;
}

/* main general */

#product {
    height: 100vh;
    width: 100vw;
    padding-top: 55px;
    overflow: hidden;
}

.prod {
    padding: 15px;
}

.prod-description {
    height: 70%;
    width: 70%;
    padding: 10px;
    position: relative;
    margin: auto;
}

.prod-description h1 {
    font-size: 6em;
    color: #a70f50;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    padding: 10px;
}

.prod-description h3 {
    color: #555;
    letter-spacing: 3px;
    font-size: 2em;
    font-weight: lighter;
    font-family: 'Muli', sans-serif;
    text-align: center;
    padding: 12px;
}

.prod-description p {
    color: #999;
    line-height: 2em;
    font-size: 1em;
    font-family: 'Muli', sans-serif;
    text-align: justify;
}

.prod-more {
    background-color: #0fa766;
    height: 40px;
    width: 100px;
    position: relative;
    margin: auto;
    text-align: center;
    border-radius: 5%;
    box-shadow: 0px 1.5px 1.5px 1.5px #eeebeb;
    padding: 5px;
}

.prod-more a {
    text-transform: uppercase;
    color: #ffff;
    font-family: 'Amatic SC', cursive;
    font-size: 1.2em;
    font-weight: bold;
}

/*more*/

#more {
    width: 100vw;
    height: 100vh;
}

#more h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 3.5em;
    padding-top: 30px;
    text-align: center;
    color: #0fa766;
}

.item-container {
    width: 80%;
    height: 70%;
    position: relative;
    padding: 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    height: 170px;
    width: 250px;
    margin: 13px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item-icon {
    width: 30%;
    height: 40%;
    text-align: center;
    padding: 5px;
}

.item-title {
    width: 70%;
    font-family: 'Muli', sans-serif;
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: justify;
}

.item-txt {
    width: 100%;
    height: 60%;
    margin: 5px;
    font-family: 'Muli', sans-serif;
    color: #999;
    font-size: 0.9em;
    text-align: justify;
}

/*plans*/

#plans {
    height: 100vh;
    width: 100vw;
    background-color: #0fa766;
    overflow: hidden;
}

.plans-container {
    width: 80%;
    height: 90%;
    margin: auto;
    padding: 20px;
}

#plans h3 {
    font-family: 'Amatic SC', cursive;
    color: #fff;
    font-size: 3.5em;
    text-align: center;
    padding: 15px;
    margin: 10px;
}

.plans-container {
    display: flex;
    justify-content: space-between;
}

.plans-container h4 {
    font-family: 'Muli SC', sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    color: #555;
}

.box {
    height: 70%;
    width: 25%;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
    border-radius: 5px;

}

.box p {
    font-family: 'Muli SC', sans-serif;
    font-size: 0.9em;
    letter-spacing: 2px;
    color: #999;
    text-align: justify;
    margin: 15px 5px 15px 5px;

}

.box h5 {
    font-family: 'Muli SC', sans-serif;
    color: #0fa766;
    font-size: 0.9em;
    line-height: 15px;
    letter-spacing: 3px;
    text-align: justify;

}

button {
    height: 30px;
    width: 100%;
    background-color: #a70f50;
    box-shadow: 0px 2px 2px 2px #eeebeb;
    font-family: 'Amatic SC', cursive;
    color: #ffff;
    font-weight: bold;
    font-size: 1.5em;
    left: 50%;

}

/*about*/
#about {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#about h3 {
    color: #0fa766;
    font-family: 'Amatic SC', cursive;
    font-size: 3.5em;
    text-align: center;
    margin: 20px;
}

.about-us {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-him,
.about-her {
    width: 45%;
    height: 70%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
}

.about-header {
    height: 150px;
    width: 70%;
    padding: 50px;
    text-align: center;
}

.about-description {
    width: 100%;
    height: 50%;
    font-family: 'Muli SC', sans-serif;
    letter-spacing: 1px;
    font-size: .9em;
    line-height: 2em;
    color: #999;
    text-align: justify;
    margin: 10px;
}


.about-header h4 {
    font-family: 'Muli SC', sans-serif;
    color: #a70f50;
    font-size: 2em;
    text-align: center;
    letter-spacing: 3px;

}

.about-header h6 {
    font-family: 'Amatic SC', cursive;
    color: #777;
    font-size: 1.5em;
    letter-spacing: 1px;
}

.about-pic {
    width: 25%;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #eeebeb;
}

.about-social {
    width: 100%;
    height: 20px;
    text-align: center;
    letter-spacing: 10px;
}

.about-social a {
    color: #777;
}

/* contact */
#contact {
    min-height: calc(100vh - 250px);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#contact h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 3.5em;
    color: #0fa766;
    text-align: center;
    margin: 5px;
    width: 100%;
}

form {
    width: 50%;
    height: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

label {
    font-family: 'Muli SC', sans-serif;
    font-size: 1em;
    color: #777;
    line-height: 1.2em;
    letter-spacing: 2px;
}

input {
    width: 80%;
    height: 25px;
    margin: 5px;
}

textarea {
    width: 80%;
    height: 50%;
    resize: none;
}

.submit {
    width: 100px;
    height: 40px;
}

.social {
    width: 30%;
    height: 70%;
    text-align: center;
}

.social h4 {
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
    color: #999;
    letter-spacing: 3px;
}

.social a {
    font-size: 2em;
    color: #a70f50;
    letter-spacing: 10px;
    margin-top: 25px;
}

.social a:visited {
    color: #0fa766;
}

/*footer*/
footer {
    height: 100px;
    width: 100%;
    background-color: #0fa766;
    color: #eeebeb;
    font-family: 'Muli SC', sans-serif;
    font-size: 0.7em;
    letter-spacing: 2px;
}